<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>Transfer Page</h1>
<hr>

<input type="text" name="receiver" id="receiver" placeholder="받는이 계좌">
<input type="text" name="amount" id="amount" placeholder="송금할 금액">
<button onclick="transfer()">송금</button>


<script>

	function transfer(){
		const receiver = document.getElementById("receiver").value;
		const amount = document.getElementById("amount").value;
		const token = localStorage.getItem("accessToken");
		
		fetch("/api/banking/transfer", {
			method : "post",
			headers : {
				"Content-Type": "application/x-www-form-urlencoded",
				"Authorization": "Bearer " + token
			},
			body : "receiver=" + receiver + "&amount=" + amount
		})
		.then(res => res.text())
		.then(data => {
			if(data != ""){
				console.log(data)
				alert(amount + "원 송금 완료")
				location.href="/";
			}else{
				alert("잔액이 부족합니다")
			}
		});
	}

</script>

</body>
</html>